:root {
    --bg-menu: #c5c5c5;
    --bg-main: #204060;
    --bg-main-15l: #2e5d8b;
    --bg-main-75l: #b7cfe7;
    --bg-main-85l: #d4e2f1;
    --bg-main-50d: #102030;
    --bg-main-75d: #081018;
    --green-color: #0b0;
    --red-color: #b00;
    --main-text: #000;
    --sub-text: #252525;
    --sub-text-lighter: #404040;
}